* {
  margin: 0px;
  padding: 0px;
    
}

body {
  display: flex;
  justify-content: center;
}

.mainContent {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  width: 100%; 
  height: fit-content;  
  justify-content: space-between;   
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 20px 30px;
}

.logo {
  display: inline-block;  
  font-size: 24px;  
  margin: 10px 0 10px 8%;
  
}

nav {
  display: block;
  justify-content: space-around;
  align-self: center;
  margin: 10px 8% 10px 0%;     
}

nav a {
  display: inline-block;
  text-decoration: none;
  margin: 0 0 0 20px;
}

.about {
  width: 100%;
  height: 300px;
  display: flex;
  background-color: #1F2937;  
  justify-content: space-around;
  margin: 0 10%;  
  
}

.about section {
  display: flex;   
  width: 40%;
  height: 80%;
  color: #E5E7EB;
  background-color: #1F2937;
  text-wrap: wrap;
  justify-content: space-around;

}

.about .left {
  text-wrap: wrap;
  display: block;
  width: 100%;
  margin: 10px 1% 10px 8%;
  
}

.about .right {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: 200px;
  margin: 10px 8% 10px 1%;
}

.hero {   
  font-size: 48px;
  text-wrap: wrap;
  color: #E5E7EB; 

}

.right .placeholder {
  display: flex;
  color: #F9FAF8;
  background-color: #777a84;
  width: 100%;
  padding: 0 20px;
  height: 80%;  
  justify-content: center;
  align-items: center;
}

button {
  white-space:  nowrap;  
  background-color: #3882f6;
  margin: 10px 0;
  padding: 10px 20px;
  border-color: #1F2937;
  border-radius: 10px;
  width: fit-content;
}

h2 {
  margin: 50px;
  font-size: 2em;
}

.images {
  justify-content: space-between;
  justify-self: center;
  display: flex;
  width: 45%;
}

.box {
  display: flex;
  text-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
}

.pictureBox {
  width: 200px;
  height: 200px;
  border: 3px solid #3882f6;
  border-radius: 5%;    
}

blockquote {  
  width: 45%;
  text-wrap: wrap;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  margin: 150px;
}

.citation {
  float: right;  
  font-style: normal;
  font-weight: bold;
  margin: 10px;
  padding-right: 50px;
  color: #1f2937;
}

